.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
